<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barantech.noamb.appserver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.TETHER_PRIVILEGE" />
    <permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"
        android:protectionLevel="signature|privileged" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ever_switch_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".screen.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".screen.DeviceConnected"
            android:label="@string/title_activity_devices_connected"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.ConfigHotSpot"
            android:label="@string/title_config_hotSpot"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".screen.DeviceControl"
            android:label="@string/title_activity_device_control_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"

            >
        </activity>

        <activity
            android:name=".screen.MagicActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="wifihotspot" />
            </intent-filter>
        </activity>



        <service
            android:name=".services.HotSpotIntentService"
            android:enabled="true"
            android:exported="true"
            />

        <receiver android:name=".services.HotSpotIntentReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.barantech.noamb.appserver.services.ON_DESTROY"/>
                <action android:name="com.barantech.noamb.appserver.services.TURN_ON"/>
                <action android:name="com.barantech.noamb.appserver.services.TURN_OFF"/>

            </intent-filter>
        </receiver>
    </application>

</manifest>